.git
.github
**/tmp
**/.gitignore

**/.k

.env
**/.*.flag
**/.docker.image

**/build
**/dist
**/*.egg-info
**/__pycache__
**/.venv

.fontawesome
.workdirs
workdir

**/.opam
**/.switch*
**/.deps*

**/*.exe
**/*.cmi
**/*.cmo
**/*_j.ml
**/*_j.mli
**/*_t.ml
**/*_t.mli
