.gallery {
  text-align: center;
}

.gallery p {
  padding: 10px;
}

.gallery .entry {
  width: fit-content;
  margin: auto;
  padding-bottom: 20px;
}

.gallery .title {
  font-size: large;
}

.gallery .description {
}

.gallery .share {
  float: right;
  margin-top: 20px;
  margin-left: -20px;
}

.gallery img {
  margin: 20px;
  margin-bottom: 0px;
  max-width: 700px;
}

.gallery video {
  margin: 20px;
  margin-bottom: 0px;
  width: 700px;
}

.preamble {
  text-align: left;
  padding: 10px;
}
