.gallery {
  text-align: center;
}

.gallery p {
  padding: 5px;
  margin: unset;
}

.gallery .entry {
  padding: 20px;
  width: fit-content;
  margin: auto;
}

.gallery .title {
  font-size: large;
}

.gallery .description {
}

.gallery .share {
  float: right;
}

.gallery img {
  max-width: 700px;
}

.gallery video {
  width: 700px;
}

.preamble {
  text-align: left;
  padding: 10px;
}
